/.idea/
/.idea/codeStyles/
/.idea/dictionaries/
/.idea/inspectionProfiles/
/.idea/.gitignore
/.idea/dbnavigator.xml
/.idea/digistore.iml
/.idea/jsLibraryMappings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
